extends ../../template/layout

block content
	//- h1 Articles #{data}
	table.table.table-hover
		tbody
			each article in data
				tr.js-clickable-row(data-href="#{article.story_url}")
					- var title = article.story_title ? article.story_title : article.title
					td #{title} <span class="author">- #{article.author} -</author>
					td #{formatDate(article.created_at)}
					td
						a.btn.btn-primary.delete.js-delete-article(href="/#{article._id}/delete")
							i.glyphicon.glyphicon-trash
				
				
